@font-face {
    font-family: "fredoka";
    src: url(fonts/Fredoka/Fredoka-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "fredoka1";
    src: url(fonts/Fredoka/static/Fredoka-SemiBold.ttf);
}

@font-face {
    font-family: "inika";
    src: url(fonts/Inika/Inika-Regular.ttf);
}

:root {
    --laranja: #EF5600;
    --cinza: #343434;
    --branco: #ffffff;
    --backgrounddark: #2C2C2C;
    --black: #000000;
}

.light-mode:root {
    --backgrounddark: #a5a2a2;
    --branco: #000000;
    --cinza: #797777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--backgrounddark);
}

.container-grid {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu {
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#menu a {
    display: flex;
    margin-bottom: 0;
    background: none;
    border: none;
    color: var(--branco);
    font-size: 17px;
    align-items: center;
    justify-content: center;
    font-family: "fredoka";
    cursor: pointer;
    text-decoration: underline transparent;
}

#menu a:hover {
    -ms-transform: scale(1.3);
    transform: scale(1.3);
    color: var(--laranja);
}

.botaodark {
    margin-top: 20px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--branco);
}

.botaodark:hover {
    color: var(--laranja);
}

.bemvindo {
    width: 100vh;
    height: 615px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.portfolio {
    color: var(--laranja);
    font-size: 38px;
    font-family: "fredoka";
}

.bm {
    color: var(--laranja);
    font-size: 60px;
    font-family: "fredoka1";
}

#sobremim {
    background-color: var(--cinza);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.sobre {
    color: var(--laranja);
    font-size: 40px;
    font-family: "inika";
}

.texto {
    color: var(--branco);
    font-size: 24px;
    font-family: "fredoka";
    width: 90%;
    height: 300px;
}

#skil {
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

#skil p {
    font-family: "inika";
    font-size: 35px;
    color: var(--branco);
}

#conteudo-skil {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
}

#projetos {
    background-color: var(--cinza);
    height: 800px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#projetos h2 {
    font-family: "inika";
    font-size: 35px;
    color: var(--laranja);
}

.cards {
    display: flex;
    flex-direction: row;
    width: 85%;
}

.projeto1 {
    width: 400px;
    height: 450px;
    background-color: #0000004d;
    border-radius: 15px;
    margin: 30px;
}

#contatos h2 {
    font-family: "inika";
    font-size: 35px;
    color: var(--branco);
}

#contatos {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.conteudo {
    display: flex;
}

.insta,
.git,
.whats,
.email {
    margin: 30px;
}

@media screen and (max-width:1300px) {
    
    .sobre{
        font-size: 35px;
    }
    .texto{
        font-size: 20px;
        width: 70%;
    }
    
    .projeto1 {
        width: 300px;
    }

    .cards{
       
    }
}